<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>Users</h1>
                        <button class="btn1" onclick="window.location.href='@Url.Action("User", "Settings")' + '/CreateUser';">Add user</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tabs">
                        <div class="tabContent">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Login</th>
                                        <th>Password</th>
                                        <th>Company Name</th>
                                        <th>Registration</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < ViewBag.Users.Count; i++)
                                    {
                                        <tr>
                                            <td>@ViewBag.Users[i].Login</td>
                                            <td>@ViewBag.Users[i].Password</td>
                                            <td>@ViewBag.Users[i].CompanyName</td>
                                            <td>@ViewBag.Users[i].Date</td>
                                            <td>
                                                <img src="~/img/pen.svg" alt="" >
                                                <img src="~/img/delet.svg" alt="" onclick="document.location.href = '@ViewBag.BaseUrl/Settings/User/Remove?idUser=@ViewBag.Users[i].Id'">
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>