<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>trailers</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tabs">
                        <div class="tab" onclick="window.location.href='@Url.Action("Trucks", "Settings")';">Trucks</div>
                        <div class="tab whiteborder" onclick="window.location.href='@Url.Action("CreateTrailer", "Settings")';">Trailers</div>
                        <div class="tabContent">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Year</th>
                                        <th>Make</th>
                                        <th>How Long</th>
                                        <th>Color</th>
                                        <th>Plate#</th>
                                        <th>Plate Exp</th>
                                        <th>Vin #</th>
                                        <th>Owner</th>
                                        <th>Annual INS</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < ViewBag.Trailers.Count; i++)
                                    {
                                        <tr>
                                            <td>@ViewBag.Trailers[i].Name</td>
                                            <td>@ViewBag.Trailers[i].Type</td>
                                            <td>@ViewBag.Trailers[i].Year</td>
                                            <td>@ViewBag.Trailers[i].Make</td>
                                            <td>@ViewBag.Trailers[i].HowLong</td>
                                            <td>@ViewBag.Trailers[i].Color</td>
                                            <td>@ViewBag.Trailers[i].Plate</td>
                                            <td>@ViewBag.Trailers[i].Exp</td>
                                            <td>@ViewBag.Trailers[i].Vin</td>
                                            <td>@ViewBag.Trailers[i].Owner</td>
                                            <td>@ViewBag.Trailers[i].AnnualIns</td>
                                            <td>
                                                <img src="~/img/setting.svg" alt="" onclick="window.location.href='@ViewBag.BaseUrl/Settings?idTr=@ViewBag.Trailers[i].Id&page=s&idProfile=0&typeTransport=Trailer'">
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>