<body>
    <div class="cars">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>Truck and Trailer Inspection</h1>
                    </div>
                </div>
                <div class="col-md-12 admin">
                    <div id="tabs">
                        @foreach (var SetingTruck in ViewBag.SetingsTruck)
                        {
                            if (SetingTruck.IsSelect)
                            {
                                <div class="tab whiteborder" onclick="window.location.href='@Url.Action("", "Settings")?idTr=@ViewBag.IdTr&idProfile=@SetingTruck.Id&typeTransport=@SetingTruck.TypeTransportVehikle';" ondblclick="window.location.href='@Url.Action("", "Settings")/RemoveProfile?idProfile=+ @SetingTruck.Id&typeTransport=@SetingTruck.TypeTransportVehikle&idTr=@ViewBag.IdTr';">@SetingTruck.Name</div>
                            }
                            else
                            {
                                <div class="tab" onclick="window.location.href='@Url.Action("", "Settings")?idTr=@ViewBag.IdTr&idProfile=@SetingTruck.Id&typeTransport=@SetingTruck.TypeTransportVehikle';" ondblclick="window.location.href='@Url.Action("", "Settings")/RemoveProfile?idProfile=@SetingTruck.Id&typeTransport=@SetingTruck.TypeTransportVehikle&idTr=@ViewBag.IdTr';">@SetingTruck.Name</div>
                            }
                        }
                        <input class="tab" type="button" value="+" onclick="window.location.href='@Url.Action("AddProfile", "Settings")?idTr=@ViewBag.IdTr&typeTransport=@ViewBag.TypeTransport'" />
                        <div class="tabContent">
                            <div class="row">
                                @foreach (var layout in ViewBag.SelectSetingTruck.TransportVehicle.Layouts)
                                {
                                    <div class="col-md-3">
                                        <div class="img">
                                            @if (layout.IsUsed)
                                            {
                                                <img style="width:90%;" src="@ViewBag.BaseUrl/Settings/Image?name=../@ViewBag.Pattern/@ViewBag.SelectSetingTruck.TransportVehicle.Type/@ViewBag.SelectSetingTruck.TransportVehicle.Type@layout.Index&type=png" alt="">
                                            }
                                            else
                                            {
                                                <img style="opacity: 0.4;width: 20%;" src="@ViewBag.BaseUrl/Settings/Image?name=../@ViewBag.Pattern/@ViewBag.SelectSetingTruck.TransportVehicle.Type/@ViewBag.SelectSetingTruck.TransportVehicle.Type@layout.Index&type=png" alt="">
                                            }
                                            <img src="~/img/prev.svg" alt="" style="margin-right: 20px">
                                            <img src="~/img/glass.svg" alt="">
                                            <img src="~/img/next.svg" alt="" style="margin-left: 20px">

                                        </div>
                                    </div>
                                    @*<span>@layout.Name</span>
                                    @if (layout.IsUsed)
                                    {
                                        <img alt="" id="img_@layout.Id" src="@ViewBag.BaseUrl/Settings/Image?name=../@ViewBag.Pattern/@ViewBag.SelectSetingTruck.TransportVehicle.Type/@ViewBag.SelectSetingTruck.TransportVehicle.Type@layout.Index&type=png">
                                    }
                                    else
                                    {
                                        <img alt="" id="img_@layout.Id" style="opacity:0.4" src="@ViewBag.BaseUrl/Settings/Image?name=../@ViewBag.Pattern/@ViewBag.SelectSetingTruck.TransportVehicle.Type/@ViewBag.SelectSetingTruck.TransportVehicle.Type@layout.Index&type=png">
                                    }
                                    @if (ViewBag.SelectSetingTruck.IsChange)
                                    {
                                            @if (layout.OrdinalIndex != 1)
                                            {
                                                <div class="arrow-4 arrow-up" onclick="MovingLayoutUP(@layout.Id, @ViewBag.SelectSetingTruck.TransportVehicle.Id, this)">
                                                    <span class="arrow-4-left arrow-left"></span>
                                                    <span class="arrow-4-right arrow-right"></span>
                                                </div>
                                            }
                                            <label class="container">
                                                <input type="checkbox" checked="@layout.IsUsed" onchange="CheckChange(this.checked, @layout.Id)">
                                                <span class="checkmark"></span>
                                            </label>
                                            @if (layout.OrdinalIndex != ViewBag.SelectSetingTruck.TransportVehicle.Layouts.Count)
                                            {
                                                <div class="arrow-4 arrow-down" onclick="MovingLayoutDown(@layout.Id, @ViewBag.SelectSetingTruck.TransportVehicle.Id, this)">
                                                    <span class="arrow-4-left arrow-left"></span>
                                                    <span class="arrow-4-right arrow-right"></span>
                                                </div>
                                            }
                                    }*@
                                }

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <button class="btn1">Use these Settings</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>