<body>
    <div class="admin Pickup">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="title">
                        <h1 class="nameVehStlP"> @ViewBag.Vehiclw.Make @ViewBag.Vehiclw.Model @ViewBag.Vehiclw.Year</h1>
                    </div>
                    <p><b>Load id:</b> <span> @ViewBag.Shipp.Id</span></p>
                    <p><b>Origin:</b> <span>@ViewBag.Shipp.AddresP, @ViewBag.Shipp.CityP, @ViewBag.Shipp.StateP, @ViewBag.Shipp.ZipP</span></p>
                    <p><b>Destionation:</b> <span>@ViewBag.Shipp.AddresD, @ViewBag.Shipp.CityD, @ViewBag.Shipp.StateD, @ViewBag.Shipp.ZipD</span></p>
                    @if (ViewBag.Vehiclw.Ask != null)
                    {
                        <p><b>Type:</b> <span>@ViewBag.Vehiclw.Ask.TypeVehicle</span></p>
                    }
                </div>
                <div class="col-md-4 pic">
                    @if (ViewBag.Vehiclw.Scan != null)
                    {
                        <img src="data:image/gif;base64,@ViewBag.Vehiclw.Scan.Base64" alt="" onclick="ShowAlert(11)">
                    }
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Pickup Inspection</h2>
                    </div>
                    <div class="col-md-3">
                        <img src="~/img/57.svg" alt="">
                    </div>
                   
                </div>
                <div class="col-md-12">
                    <h3>Any personal or additional items with or in vehicle</h3>
                    <p>No Photo</p>
                </div>
                <div class="col-md-12">
                    <h3>App will force driver to take pictures of each strap</h3>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="img/57.svg" alt="">
                    </div>
                </div>
                <div class="col-md-12">
                    <h3>Customer painting Pickup</h3>
                </div>
                <div class="col-md-4">
                    <img src="img/photo.svg" alt="">
                </div>
                <div class="col-md-12">
                    <h3>Any personal or additional items with or in vehicle</h3>
                    <p>No Photo</p>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="img/57.svg" alt="">
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn1">Back to Order</button>
                </div>
            </div>
        </div>
    </div>
</body>


<script>
    function ShowAlert(numAlert) {
        let dialog = document.getElementById('dialog' + numAlert);
        dialog.show();
    }

    function HiddenDialog(numAlert) {
        let dialog = document.getElementById('dialog' + numAlert);
        dialog.close();
    }
</script>