<body>
    <div class="admin Pickup">
        <div class="container">
            <div class="col-md-8">
                <div class="title">
                    <h1 class="nameVehStlP"> @ViewBag.Vehiclw.Make @ViewBag.Vehiclw.Model @ViewBag.Vehiclw.Year</h1>
                </div>
                <p><b>Load id:</b> <span> @ViewBag.Shipp.Id</span></p>
                <p><b>Origin:</b> <span>@ViewBag.Shipp.AddresP, @ViewBag.Shipp.CityP, @ViewBag.Shipp.StateP, @ViewBag.Shipp.ZipP</span></p>
                <p><b>Destionation:</b> <span>@ViewBag.Shipp.AddresD, @ViewBag.Shipp.CityD, @ViewBag.Shipp.StateD, @ViewBag.Shipp.ZipD</span></p>
                @if (ViewBag.Vehiclw.Ask != null)
                {
                    <p><b>Type:</b> <span>@ViewBag.Vehiclw.Ask.TypeVehicle</span></p>
                }
            </div>
            <div class="col-md-4 pic">
                @if (ViewBag.Vehiclw.Scan != null)
                {
                    <img src="data:image/gif;base64,@ViewBag.Vehiclw.Scan.Base64" alt="" onclick="ShowAlert(11)">
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Pickup Inspection</h2>
                </div>
                <div class="col-md-12">
                    <h3>Photo inspection</h3>
                </div>
                @if (ViewBag.Vehiclw.PhotoInspections != null)
                {
                    @for (int i = 0; i < ViewBag.Vehiclw.PhotoInspections.Count; i++)
                    {
                        if (ViewBag.Vehiclw.PhotoInspections[i].CurrentStatusPhoto == "PikedUp")
                        {
                            @for (int j = 0; j < ViewBag.Vehiclw.PhotoInspections[i].Photos.Count; j++)
                            {
                                <div class="col-md-3" style="width: 263px;height: 148px; margin:10px">
                                    <img alt="" src="@ViewBag.BaseUrl/Dashbord/Image?name=@ViewBag.Vehiclw.PhotoInspections[i].Photos[j].path&type=jpg" width="263" height="148">
                                </div>

                            }
                        }
                    }
                }
                else
                {
                    <p>No Photo</p>
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Photo after loading in the truck</h3>
                </div>
                @if (ViewBag.Vehiclw.Ask1 != null)
                {
                    @if (ViewBag.Vehiclw.Ask1.Photo_after_loading_in_the_truck != null && ViewBag.Vehiclw.Ask1.Photo_after_loading_in_the_truck.Count != 0)
                    {
                        for (int i = 0; i < ViewBag.Vehiclw.Ask1.Photo_after_loading_in_the_truck.Count; i++)
                        {
                            <div class="col-md-3" style="width: 263px;height: 148px;margin-bottom:10px">
                                <img src="@ViewBag.BaseUrl/Dashbord/Image?name=@ViewBag.Vehiclw.Ask1.Photo_after_loading_in_the_truck[i].path&type=jpg" width="263" height="148" />
                            </div>
                        }
                    }
                    else
                    {
                        <p>No Photo</p>
                    }
                }
                else
                {
                    <p>No Photo</p>
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Customer painting Pickup</h3>
                </div>
                @if (ViewBag.Shipp.AskFromUser != null)
                {
                    @if (ViewBag.Shipp.AskFromUser.App_will_ask_for_signature_of_the_client_signature != null)
                    {
                        <div class="col-md-3" style="width: 263px;height: 148px;margin-bottom:10px">
                            <img src="@ViewBag.BaseUrl/Dashbord/Image?name=@ViewBag.Shipp.AskFromUser.App_will_ask_for_signature_of_the_client_signature.path&type=jpg" width="263" height="148" />
                        </div>

                    }
                    else
                    {
                        <p>No Photo</p>
                    }
                }
                else
                {
                    <p>No Photo</p>
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Delivery Inspection</h2>
                </div>
                <div class="col-md-12">
                    <h3>Photo inspection</h3>
                </div>
                @if (ViewBag.Vehiclw.PhotoInspections != null)
                {
                    @for (int i = 0; i < ViewBag.Vehiclw.PhotoInspections.Count; i++)
                    {
                        if (ViewBag.Vehiclw.PhotoInspections[i].CurrentStatusPhoto == "Delyvery")
                        {
                            @for (int j = 0; j < ViewBag.Vehiclw.PhotoInspections[i].Photos.Count; j++)
                            {
                                <div class="col-md-3" style="width: 263px;height: 148px;margin-bottom:10px">
                                    <img src="@ViewBag.BaseUrl/Dashbord/Image?name=@ViewBag.Vehiclw.PhotoInspections[i].Photos[j].path&type=jpg" width="263" height="148" />
                                </div>
                            }

                        }
                    }
                }
                else
                {
                    <p>No Photo</p>
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Customer Vehicle Inspection</h3>
                </div>
                @if (ViewBag.Shipp.askForUserDelyveryM != null)
                {
                    @if (ViewBag.Shipp.askForUserDelyveryM.Have_you_inspected_the_vehicle_For_any_additional_imperfections_other_than_listed_at_the_pick_up_photo != null && ViewBag.Shipp.askForUserDelyveryM.Have_you_inspected_the_vehicle_For_any_additional_imperfections_other_than_listed_at_the_pick_up_photo.Count != 0)
                    {
                        for (int i = 0; i < ViewBag.Shipp.askForUserDelyveryM.Have_you_inspected_the_vehicle_For_any_additional_imperfections_other_than_listed_at_the_pick_up_photo.Count; i++)
                        {
                            <div class="col-md-3" style="width: 263px;height: 148px;margin-bottom:10px">
                                <img src="@ViewBag.BaseUrl/Dashbord/Image?name=@ViewBag.Shipp.askForUserDelyveryM.Have_you_inspected_the_vehicle_For_any_additional_imperfections_other_than_listed_at_the_pick_up_photo[i].path&type=jpg" width="263" height="148" />
                            </div>
                        }
                    }
                    else
                    {
                        <p>No Photo</p>
                    }
                }
                else
                {
                    <p>No Photo</p>
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Customer painting Delivery</h3>
                </div>
                @if (ViewBag.Shipp.askForUserDelyveryM != null)
                {
                    @if (ViewBag.Shipp.askForUserDelyveryM.App_will_ask_for_signature_of_the_client_signature != null)
                    {
                        <div class="col-md-3" style="width: 263px;height: 148px;margin-bottom:10px">
                            <img src="@ViewBag.BaseUrl/Dashbord/Image?name=@ViewBag.Shipp.askForUserDelyveryM.App_will_ask_for_signature_of_the_client_signature.path&type=jpg" width="263" height="148" />
                        </div>

                    }
                    else
                    {
                        <p>No Photo</p>
                    }
                }
                else
                {
                    <p>No Photo</p>
                }
            </div>
            <div class="col-md-12">
                <button onclick="history.back();" class="btn1">Back to Order</button>
            </div>
        </div>
    </div>
</body>