<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>Contacts</h1>
                        <button class="btn1" onclick="window.location.href='@Url.Action("CreateContact", "Contact")';" >Add Contact</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @for (int i = 0; i < ViewBag.Contacts.Count; i++)
                    {
                        <div class="one-line">
                            <div class="top-line">
                                <div class="left">
                                    <div class="contact">
                                        <p><strong>@ViewBag.Contacts[i].Name</strong></p>
                                        <p>Email: <a href="@ViewBag.Contacts[i].Email"> @ViewBag.Contacts[i].Email</a></p>
                                        <p>Phone: <a href="tel:@ViewBag.Contacts[i].Phone">@ViewBag.Contacts[i].Phone</a></p>
                                    </div>
                                </div>
                                <div class="right">
                                    <button class="btn3">Edit</button>
                                    <button class="btn3">Deleted</button>
                                </div>
                            </div>
                        </div> 
                    }
                </div>
            </div>
        </div>
    </div>
</body>