    <div class="body">
        <input class="backBtn" type="button" value="← Back to Orders" onclick="history.back();" />
        <div style="display:flex;justify-content:space-around">
            <form style="width:45%;" action="" method="post" enctype="multipart/form-data">
                <div class="content">
                    <h2 style="color: rgb(51, 51, 51);margin-bottom:2px;">Add New Truck</h2>
                    <p class="inpLabe">Name Truck*</p>
                    <input name="nameTruk" class="inpText validation" type="text" required />
                    <p class="inpLabe">Type</p>
                    <select name="typeTruk" class="inpText validation" type="text" onchange="SelectTruck(this.options[this.selectedIndex].value)" required>
                        <option value="">Choose a truck type</option>
                        <option value="PickupFourWheel">Four-wheel pickup dually</option>
                        <option value="FourDoorTruckChassisOpenFrame">Four-door truck with double chassis and open frame</option>
                        <option value="BoxTruckSingleWheel">Box Truck Single Wheel</option>
                        <option value="BoxTruckWheelDually">Box Truck Wheel Dually</option>
                        <option value="CargiVanChasissDuallyOrSingleWheel">Cargi Van Chasiss Dually Or Single Wheel</option>
                    </select>
                    <p class="inpLabe">Year</p>
                    <input name="yera" class="inpText" type="text" />
                    <p class="inpLabe">Make*</p>
                    <input name="make" class="inpText" type="text" />
                    <p class="inpLabe">Model*</p>
                    <input name="model" class="inpText" type="text" />
                    <p class="inpLabe">State</p>
                    <input name="state" class="inpText" type="text" />
                    <p class="inpLabe">Plate Exp</p>
                    <input name="exp" class="inpText" type="text" />
                    <p class="inpLabe">Vin#</p>
                    <input name="vin" class="inpText" type="text" />
                    <p class="inpLabe">Owner</p>
                    <input name="owner" class="inpText" type="text" />
                    <p class="inpLabe">Plate Truck</p>
                    <input name="plateTruk" class="inpText validation" type="text" required />
                    <p class="inpLabe">Color</p>
                    <input name="color" class="inpText" type="text" />
                    <p class="inpLabe">Truck registration</p>
                    <div class="inpText">
                        <label for="docLoad1" class="btnModal" style="margin-left:5px;">Select document Truck registration</label>
                        <input id="docLoad1" style="display: none;" type="file" name="truckRegistrationDoc" onchange="LoadFile(this, 1)" accept="application/pdf, image/jpeg, image/jpg" required>
                        <span id="nameNoLoadDoc1" class="spanModal" style="align-self:center;margin-left:5px;color:#ff4614;">You can upload files only in pdf, jpg and jepg</span>
                        <span id="nameLoadDoc1" class="spanModal" style="align-self:center;margin-left:5px;color:#95f816;" hidden></span>
                    </div>
                    <p class="inpLabe">Truck lease agreement</p>
                    <div class="inpText">
                        <label for="docLoad2" class="btnModal" style="margin-left:5px;">Select document Truck lease agreement</label>
                        <input id="docLoad2" style="display: none;" type="file" name="truckLeaseAgreementDoc" onchange="LoadFile(this, 2)" accept="application/pdf, image/jpeg, image/jpg" required>
                        <span id="nameNoLoadDoc2" class="spanModal" style="align-self:center;margin-left:5px;color:#ff4614;">You can upload files only in pdf, jpg and jepg</span>
                        <span id="nameLoadDoc2" class="spanModal" style="align-self:center;margin-left:5px;color:#95f816;" hidden></span>
                    </div>
                    <p class="inpLabe">Truck annual inspection</p>
                    <div class="inpText">
                        <label for="docLoad3" class="btnModal" style="margin-left:5px;">Select document Truck annual inspection</label>
                        <input id="docLoad3" style="display: none;" type="file" name="truckAnnualInspection" onchange="LoadFile(this, 3)" accept="application/pdf, image/jpeg, image/jpg" required>
                        <span id="nameNoLoadDoc3" class="spanModal" style="align-self:center;margin-left:5px;color:#ff4614;">You can upload files only in pdf, jpg and jepg</span>
                        <span id="nameLoadDoc3" class="spanModal" style="align-self:center;margin-left:5px;color:#95f816;" hidden></span>
                    </div>
                    <p class="inpLabe">Bob tail physical damage (optional)</p>
                    <div class="inpText">
                        <label for="docLoad4" class="btnModal" style="margin-left:5px;">Select document Bob tail physical damage</label>
                        <input id="docLoad4" style="display: none;" type="file" name="bobTailPhysicalDamage" onchange="LoadFile(this, 4)" accept="application/pdf, image/jpeg, image/jpg">
                        <span id="nameNoLoadDoc4" class="spanModal" style="align-self:center;margin-left:5px;color:#ff4614;">You can upload files only in pdf, jpg and jepg</span>
                        <span id="nameLoadDoc4" class="spanModal" style="align-self:center;margin-left:5px;color:#95f816;" hidden></span>
                    </div>
                    <p class="inpLabe">NY HUT (optional for NY rolling)</p>
                    <div class="inpText">
                        <label for="docLoad5" class="btnModal" style="margin-left:5px;">Select document NY HUT</label>
                        <input id="docLoad5" style="display: none;" type="file" name="nYHUTDoc" onchange="LoadFile(this, 5)" accept="application/pdf, image/jpeg, image/jpg">
                        <span id="nameNoLoadDoc5" class="spanModal" style="align-self:center;margin-left:5px;color:#ff4614;">You can upload files only in pdf, jpg and jepg</span>
                        <span id="nameLoadDoc5" class="spanModal" style="align-self:center;margin-left:5px;color:#95f816;" hidden></span>
                    </div>
                </div>
                <input class="btnSave" value="Save" type="submit" />
            </form>
            <div style="width:45%;">
                <div id="PickupFourWheel" style="display:none;flex-wrap:wrap;justify-content:flex-start;">
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/PickupFourWheel/PickupFourWheel1.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/PickupFourWheel/PickupFourWheel6.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/PickupFourWheel/PickupFourWheel8.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/PickupFourWheel/PickupFourWheel9.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/PickupFourWheel/PickupFourWheel12.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/PickupFourWheel/PickupFourWheel13.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/PickupFourWheel/PickupFourWheel15.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/PickupFourWheel/PickupFourWheel16.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/PickupFourWheel/PickupFourWheel18.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/PickupFourWheel/PickupFourWheel19.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/PickupFourWheel/PickupFourWheel20.png&type=png" />
                </div>
                <div id="FourDoorTruckChassisOpenFrame" style="display:none;flex-wrap:wrap;justify-content:flex-start;">
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame2.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame3.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame4.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame5.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame7.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame8.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame9.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame11.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame12.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame14.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame15.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame16.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame17.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/FourDoorTruckChassisOpenFrame/FourDoorTruckChassisOpenFrame19.png&type=png" />
                </div>
                <div id="BoxTruckSingleWheel" style="display:none;flex-wrap:wrap;justify-content:flex-start;">
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel1.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel2.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel3.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel4.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel5.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel7.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel8.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel9.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel10.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel11.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel12.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel13.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel14.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel15.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel16.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel17.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel18.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel19.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckSingleWheel/BoxTruckSingleWheel20.png&type=png" />
                </div>
                <div id="BoxTruckWheelDually" style="display:none;flex-wrap:wrap;justify-content:flex-start;">
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually1.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually2.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually3.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually4.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually5.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually7.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually8.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually9.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually10.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually11.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually12.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually13.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually14.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually15.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually16.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually17.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually18.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually19.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/BoxTruckWheelDually/BoxTruckWheelDually20.png&type=png" />
                </div>
                <div id="CargiVanChasissDuallyOrSingleWheel" style="display:none;flex-wrap:wrap;justify-content:flex-start;">
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel1.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel2.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel3.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel4.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel5.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel7.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel8.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel9.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel10.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel11.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel12.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel13.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel14.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel15.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel16.png&type=png" />
                    <img class="img" src="@ViewBag.BaseUrl/Equipment/Image?name=../TruckPattern/CargiVanChasissDuallyOrSingleWheel/CargiVanChasissDuallyOrSingleWheel17.png&type=png" />
                </div>
            </div>
        </div>
    </div>

<script>
    var curentSelectPattern;

    function LoadFile(fille, numDock) {
        let pref = fille.files[0].name.substr(fille.files[0].name.lastIndexOf(".") + 1);
        let nameLoadDocEl = document.getElementById("nameLoadDoc"+numDock);
        let nameNoLoadDocEl = document.getElementById("nameNoLoadDoc"+numDock);
        if (pref == "pdf" || pref == "jpg" || pref == "jepg") {
            nameNoLoadDocEl.hidden = "hidden";
            nameLoadDocEl.hidden = "";
            nameLoadDocEl.textContent = fille.files[0].name;
        }
        else {
            nameNoLoadDocEl.hidden = "";
            nameLoadDocEl.hidden = "hidden";
            fille.value = "";
        }
    }

    function SelectTruck(value) {
        if (curentSelectPattern || value == "") {
            curentSelectPattern.style.display = "none";
        }
        let selectTypeDiv = document.getElementById(value);
        if (selectTypeDiv) {
            selectTypeDiv.style.display = "flex";
            curentSelectPattern = selectTypeDiv;
        }
    }
</script>

<style>
    * {
        margin: 0px;
    }

    .img {
        margin: 5px;
        padding: 5px;
        image-rendering: optimizeSpeed;
        width:29%;
    }

        .img:hover {
            opacity: 0.7;
        }


    .validation:invalid {
        border-color: red;
        color: red;
    }

    .validation:valid {
        border-color: #4ad73b;
        color: #4ad73b;
    }

    .uploadButton {
        display: block;
        width: 200px;
        background: #3df;
        padding: 10px;
        color: #FFF;
        font-size: 16px;
        font-weight: bold;
        font-family: Tahoma;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
    }

        .uploadButton:hover {
            background: #3ce;
        }


    .btnSave {
        color: rgba(45,45,45,0.88);
        background: none;
        display: inline-block;
        padding: 7px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        border: 1px solid;
        border-radius: 4px;
        width: 130px;
    }

    btnSave:hover {
        background-color: rgba(45,45,45,0.98);
        transition: 0.5s;
    }

    .btnD:hover {
        background: rgba(243, 167, 76, 0.29);
    }

    .inpTextTr {
        border: none;
        width: 97%;
        background-color: rgba(243, 167, 76, 0.09);
        color: #f3a74c;
    }

    .inpLabe {
        font-size: 18px;
        color: rgb(51, 51, 51);
        margin-top: 10px;
        margin-left: 5px;
    }

    .inpText {
        width: 100%;
        height: 25px;
        border-width: 1px;
        border-style: double;
        border-radius: 4px;
        padding: 2px;
        font-size: 16px;
        color: rgb(51, 51, 51);
        border-color: rgba(51, 51, 51, 0.24);
        margin-bottom: 15px;
    }

    .content {
        width: 100%;
    }

    .contentBody {
        display: flex;
        justify-content: space-around;
    }

    .backBtn {
        background: none;
        border: none;
        font-size: 17px;
        color: #ffd7a6;
        margin-bottom: 20px;
    }

    .body {
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
    }
</style>