<body>
    <div class="admin doc">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>Documents</h1>
                        <button class="btn1">Add Document</button>
                    </div>
                </div>
                @for (int i = 0; i < ViewBag.TruckDoc.Count; i++)
                {
                    string pref = ViewBag.TruckDoc[i].DocPath.Remove(0, @ViewBag.TruckDoc[i].DocPath.LastIndexOf('.') + 1);
                    <div class="col-md-12">
                        <p>@ViewBag.TruckDoc[i].NameDoc <a href="@ViewBag.BaseUrl/Equipment/RemoveDoc?idDock=@ViewBag.TruckDoc[i].Id&id=@ViewBag.TruckId&type=Truck">Delete</a></p>
                    </div>
                    if (pref == "pdf")
                    {
                        <div class="col-md-12">
                            <embed src="@ViewBag.BaseUrl/Equipment/GetDockPDF?docPath=@ViewBag.TruckDoc[i].DocPath" width="900" height="1200" />
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12" style="width: 900px">
                            <img src="@ViewBag.BaseUrl/Equipment/GetDock?docPath=@ViewBag.TruckDoc[i].DocPath&type=image/@pref" alt="" width="900">
                        </div>
                    }
                    <hr />
                }
            </div>
        </div>
    </div>
</body>