<body>
    <div class="admin truc">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabContent">
                        <h2>Edit trailer</h2>
                        <input type="text" name="idTruck" required value="@ViewBag.Trailer.Id" style="display:none;" />
                        <form action="" method="post" enctype="multipart/form-data">
                            <label for="">
                                Name Trailer
                                <input type="text" name="name" required value="@ViewBag.Trailer.Name" />
                            </label>
                            <label for="">
                                Type Trailer <br />
                                <select name="typeTrailer" onchange="SelectTrailer(this.options[this.selectedIndex].value)" required style="width:500px;">
                                    <option value="@ViewBag.Trailer.Type">@ViewBag.Trailer.Type</option>
                                    <option value="Bumperpool2CarEeclosedTraile">Bumperpool 2 Car Eeclosed Traile</option>
                                    @*<option value="GooseneckTrailerTwoVehicles">Gooseneck trailer for two vehicles</option>
                                        <option value="EnclosedTrailerTwoVehicles">Enclosed trailer for two vehicles</option>
                                        <option value="a1CarGooseneckTrailer">1 Car Gooseneck Trailer</option>
                                        <option value="A3CarEnclosedGooseneckTrailer">3 Car Enclosed Gooseneck Trailer</option>
                                        <option value="Bumperpook24_34ftFlatbed">Bumperpook 24_34ft Flatbed</option>
                                        <option value="Bumperpool1CarEnclosedTrailer">Bumperpool 1 Car Enclosed Trailer</option>
                                        <option value="Bumperpool2CarEnclosedTraile">Bumperpool 2 Car Enclosed Traile</option>
                                        <option value="Bumperpool16_20FtFlatbed">Bumperpool 16_20Ft Flatbed</option>
                                        <option value="CarEnclosedTrailer">Car Enclosed Trailer</option>
                                        <option value="Gooseneck3CarLowTrailer">Gooseneck 3 Car Low Trailer</option>
                                        <option value="Gooseneck24-34FtFlatbed">Gooseneck 24_34 Ft Flatbed</option>
                                        <option value="Gooseneck3CarWedgeTrailer">Gooseneck 3 Car Wedge Trailer</option>
                                        <option value="Gooseneck5CarOpenTrailer">Gooseneck 5 Car Open Trailer</option>
                                        <option value="Gooseneck6CarOpenTrailer">Gooseneck 6 Car Open Trailer</option>
                                        <option value="BumperPool2CarTrailer">Bumper Pool 2 Car Trailer</option>*@
                                </select>
                            </label>
                            <label for="">
                                Year
                                <input type="text" name="yera" value="@ViewBag.Trailer.Year" />
                            </label>
                            <label for="">
                                Make
                                <input type="text" name="make" value="@ViewBag.Trailer.Make" />
                            </label>
                            <label for="">
                                Model
                                <input type="text" name="model">
                            </label>
                            <label for="">
                                How Long
                                <input type="text" name="howLong" value="@ViewBag.Trailer.HowLong" />
                            </label>
                            <label for="">
                                Vin#
                                <input type="text" name="vin" value="@ViewBag.Trailer.Vin" />
                            </label>
                            <label for="">
                                Owner
                                <input type="text" name="owner" value="@ViewBag.Trailer.Owner" />
                            </label>
                            <label for="">
                                Color
                                <input type="text" name="color" value="@ViewBag.Trailer.Color" />
                            </label>
                            <label for="">
                                Plate Trailer
                                <input type="text" name="plate" required value="@ViewBag.Trailer.Plate" />
                            </label>
                            <label for="">
                                Plate Exp Trailer
                                <input type="text" name="exp" value="@ViewBag.Trailer.Exp" />
                            </label>
                            <label for="">
                                ANNUAL INS
                                <input type="text" name="annualIns" value="@ViewBag.Trailer.AnnualIns" />
                            </label>
                            <button class="btn1">Save Info</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="Bumperpool2CarEeclosedTraile" class="row" style="display:none;">
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile1.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile2.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile3.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile4.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile5.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile6.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile7.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile8.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile9.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile10.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile11.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile12.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile13.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile14.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile15.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile16.png&type=png" alt="">
                        </div>
                        <div class="col-md-auto">
                            <img src="@ViewBag.BaseUrl/Equipment/Image?name=../TrailerPattern/Bumperpool2CarEeclosedTraile/Bumperpool2CarEeclosedTraile17.png&type=png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var curentSelectPattern;

    function SelectTrailer(value) {
        if (curentSelectPattern || value == "") {
            curentSelectPattern.style.display = "none";
        }
        let selectTypeDiv = document.getElementById(value);
        if (selectTypeDiv) {
            selectTypeDiv.style.display = "flex";
            curentSelectPattern = selectTypeDiv;
        }
    }
</script>