<div style="background-color: rgba(45,45,45,0.9);display:flex;position:fixed; width:100%;top:0px;z-index:100;">
    <img class="imgMirir" src="~/Icon/MirorR.png" height="40" asp-append-version="true" />
    <nav class="navst">
        <span><a class="linkASt" href="http://truckonnow.com">Truckonnow</a></span>
        <input class="btn" type="button" value="Order" onclick="window.location.href='@Url.Action("NewLoad", "Dashbord")';" />
        <input class="btn" type="button" value="GPS Traking" onclick="window.location.href='@Url.Action("Map", "Geolcation")';" />
        <input class="btn" type="button" value="Contacts" onclick="window.location.href='@Url.Action("Contacts", "Contact")';" />
        <input class="btn" type="button" value="Drivers" onclick="window.location.href='@Url.Action("Drivers", "Driver")';" />
        <input class="btn" type="button" value="Equipment" onclick="window.location.href='@Url.Action("Trucks", "Equipment")';" />
        <input class="btn" type="button" value="Organization" onclick="window.location.href='@Url.Action("Companies", "Company")';" />
        <input class="btn" type="button" value="Settings" onclick="window.location.href='@Url.Action("User", "Settings")'+'/Users';" />
    </nav>
    <img class="imgMirir" src="~/Icon/MirorL.png" height="40" asp-append-version="true" />
</div>