<div class="admin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>Orders</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="tabs">
                    <div class="tab" onclick="window.location.href='@Url.Action("NewLoad", "Dashbord")';">New load</div>
                    <div class="tab" onclick="window.location.href='@Url.Action("Assigned", "Dashbord")';">Assigned</div>
                    <div class="tab" onclick="window.location.href = '@Url.Action("Pickedup", "Dashbord")';">Picked up</div>
                    <div class="tab" onclick="window.location.href='@Url.Action("Delivered", "Dashbord")';">Delivered</div>
                    <div class="tab" onclick="window.location.href='@Url.Action("Billed", "Dashbord")';">Billed</div>
                    <div class="tab" onclick="window.location.href='@Url.Action("Paid", "Dashbord")';">Paid</div>
                    <div class="tab" onclick="window.location.href='@Url.Action("Archived", "Dashbord")';">Archived</div>
                    <div class="tab whiteborder" onclick="window.location.href='@Url.Action("Deleted", "Dashbord")';">Deleted</div>
                    <div class="tabContent">
                        @for (int i = 0; i < ViewBag.Orders.Count; i++)
                        {
                            <div class="one-line">
                                <div class="top-line">
                                    <div class="left">
                                        <button class="btn3" onClick='location.href="/Dashbord/Order/FullInfoOrder?id=@ViewBag.Orders[i].Id&stasus=Deleted"'>Load ID: @ViewBag.Orders[i].idOrder</button>
                                        <div class="text"><img src="~/img/dolar.svg" alt=""> @ViewBag.Orders[i].PriceListed</div>
                                        <div class="text"><img src="~/img/clock.svg" alt=""> @ViewBag.Orders[i].TotalPaymentToCarrier</div>
                                    </div>
                                    <div class="right">
                                        <a class="btn3" href="/Dashbord/Order/Edit?id=@ViewBag.Orders[i].Id&stasus=Deleted">Edit</a>
                                    </div>
                                </div>
                                <div class="info-line">
                                    <div class="info-block">
                                        <h3>ORIGIN</h3>
                                        <p> @ViewBag.Orders[i].AddresP, @ViewBag.Orders[i].CityP,  @ViewBag.Orders[i].StateP, @ViewBag.Orders[i].ZipP</p>
                                        <p>Phone: @ViewBag.Orders[i].PhoneP</p>
                                    </div>
                                    <div class="info-block">
                                        <h3>DESTINATION</h3>
                                        <p> @ViewBag.Orders[i].AddresD, @ViewBag.Orders[i].CityD,  @ViewBag.Orders[i].StateD, @ViewBag.Orders[i].ZipD</p>
                                        <p>Phone: @ViewBag.Orders[i].PhoneD</p>
                                        <p>Delivery Estimated: @ViewBag.Orders[i].DeliveryEstimated</p>
                                        <p>Phone: @ViewBag.Orders[i].PhoneD</p>
                                    </div>
                                    <div class="info-block">
                                    </div>
                                </div>
                            </div>
                        }
                        @if (ViewBag.count != 1)
                        {
                            <div class="center">
                                <div class="pagination">
                                    @for (int y = 1; y <= ViewBag.count; y++)
                                    {
                                        <a href="?page=@y">@y</a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/orders.js"></script>
</div>