<body>
    <div class="admin Billing">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabContente">
                        <h2>Create Order</h2>
                        <form action="SavaOrder" method="post">
                            <label for="">
                                Load ID
                                <input type="text" name="idLoad" value="@ViewBag.Order.idOrder">
                            </label>
                            <label for="">
                                Status
                                <input type="text" name="status" value="@ViewBag.Order.CurrentStatus">
                            </label>
                            <h2>Pickup Information</h2>
                            <label for="">
                                Name
                                <input type="text" value="@ViewBag.Order.NameP" name="nameP" placeholder="Name">
                            </label>
                            <label for="">
                                Contact
                                <input type="text"  name="contactP" value="@ViewBag.Order.ContactNameP" placeholder="Contact name">
                            </label>
                            <label for="">
                                Address
                                <input type="text"  name="addressP" value="@ViewBag.Order.AddresP" placeholder="Address" required>
                            </label>
                            <label for="">
                                City
                                <input type="text" name="cityP"  value="@ViewBag.Order.CityP" placeholder="City" required>
                            </label>
                            <label for="">
                                State
                                <input type="text" name="stateP" value="@ViewBag.Order.StateP" pattern="[A-Z]{2}" placeholder="XX - State" required>
                            </label>
                            <label for="">
                                Zip
                                <input type="text" name="zipP" value="@ViewBag.Order.ZipP" pattern="[0-9]{5}" placeholder="XXXXX - Zip code" required>
                            </label>
                            <label for="">
                                Phone
                                <input type="text" name="phoneP"  placeholder="XXXXXXXXXX - Phone number" pattern="[0-9]{4,12}"  value="@ViewBag.Order.PhoneP" required>
                            </label>
                            <label for="">
                                Email
                                <input name="emailP" type="email" value="@ViewBag.Order.EmailP" placeholder="Email" required>
                            </label>
                            <label for="">
                                Scheduled pickup date
                                <input type="text" name="scheduledPickupDateP"" value="@ViewBag.Order.PickupExactly">
                            </label>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tabContente">
                        <form  action="SavaOrder" method="post">
                            <label for="">
                                Instructions
                                <textarea type="text" name="instructions">@ViewBag.Order.Titl1DI</textarea>
                            </label>
                            <h2>Delivery Information</h2>
                            <label for="">
                                Name
                                <input type="text" name="nameD" value="@ViewBag.Order.NameD" placeholder="Name">
                            </label>
                            <label for="">
                                Contact
                                <input type="text" name="contactD" value="@ViewBag.Order.ContactNameD" placeholder="Contact name">
                            </label>
                            <label for="">
                                Address
                                <input type="text" name="addressD" value="@ViewBag.Order.AddresD" placeholder="Address" required>
                            </label>
                            <label for="">
                                City
                                <input type="text" name="cityD" value="@ViewBag.Order.CityD" placeholder="City" required>
                            </label>
                            <label for="">
                                State
                                <input type="text" name="stateD"  pattern="[A-Z]{2}" value="@ViewBag.Order.StateD" placeholder="XX - State" required>
                            </label>
                            <label for="">
                                Zip
                                <input type="text" name="zipD" value="@ViewBag.Order.ZipD" pattern="[0-9]{5}" placeholder="XXXXX - Zip code" required>
                            </label>
                            <label for="">
                                Phone
                                <input type="text" name="phoneD" placeholder="XXXXXXXXXX - Phone number" pattern="[0-9]{4,12}" value="@ViewBag.Order.PhoneD" required>
                            </label>
                            <label for="">
                                Email
                                <input name="emailD" type="email" value="@ViewBag.Order.EmailD" placeholder="Email" required>
                            </label>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="title">
                        <h1>Vehicles</h1>
                        <button class="btn1" onclick="AddVech(this)">Add Vehicle</button>
                    </div>
                    <table>
                        <tr class="blue">
                            <td>№</td>
                            <td>VIN</td>
                            <td>Year</td>
                            <td>Make</td>
                            <td>Model</td>
                            <td>Type</td>
                            <td>Color</td>
                            <td>Lot number</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><img src="~/img/delete.svg" alt=""/></td>
                        </tr>
                        @if (ViewBag.Order.VehiclwInformations != null)
                        {
                            @for (int i = 0; i < ViewBag.Order.VehiclwInformations.Count; i++)
                            {
                                <tr id="@ViewBag.Order.VehiclwInformations[i].Id">
                                    <td>@i</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].VIN</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].Year</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].Make</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].Model</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].Type</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].Color</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].Lot</td>
                                    <td  onclick="RemoveVech(this)"><img src="~/img/delete.svg" alt=""/></td>
                                    <td onclick="SaveVech(this)">Save</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="tabContente">
                        <h2>Payment Information</h2>
                        <form action="SavaOrder" method="post">
                            <label for="">
                                Payment method
                                <input type="text" name="paymentMethod" required>
                            </label>
                            <label for="">
                                Price
                                <input type="text" name="price" value="@ViewBag.Order.PriceListed" required>
                            </label>
                            <label for="">
                                Broker fee
                                <input type="text" name="brokerFee" value="@ViewBag.Order.BrokerFee">
                            </label>
                            <input class="btn1" value="Save Order" type="submit" />
                            <a class="btn2"  href="@ViewBag.BaseUrl/Dashbord/Order/ArchivedOrder?id=@ViewBag.Order.Id" >Archive Order</a>
                            <button class="btn3" href="@ViewBag.BaseUrl/Dashbord/Order/DeletedOrder?id=@ViewBag.Order.Id&status=NewLoad">Delete Order</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function SaveVech(btnE) {
        let idVech = btnE.parentElement.parentElement.id;
        let VIN = btnE.parentElement.parentElement.children[1].children[0].value;
        let Year = btnE.parentElement.parentElement.children[2].children[0].value;
        let Make = btnE.parentElement.parentElement.children[3].children[0].value;
        let Model = btnE.parentElement.parentElement.children[4].children[0].value;
        let Type = btnE.parentElement.parentElement.children[5].children[0].value;
        let Color = btnE.parentElement.parentElement.children[6].children[0].value;
        let LotNumber = btnE.parentElement.parentElement.children[7].children[0].value;
        let Req = "idVech=" + idVech + "&VIN=" + VIN + "&Year=" + Year + "&Make=" + Make + "&Model=" + Model + "&Type=" + Type + "&Color=" + Color + "&LotNumber=" + LotNumber;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function (e) {
            if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
            }
        };
        xhttp.open("POST", "@ViewBag.BaseUrl/Dashbord/Order/SavaVech", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.setRequestHeader('Accept-Encoding', 'br');
        xhttp.send(Req);
    }

    function RemoveVech(btnE) {
        let idVech = btnE.parentElement.parentElement.id;
        let Req = "idVech=" + idVech;
        let tdElms = btnE.parentElement.parentElement.parentElement;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function (e) {
            if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
            }
        };
        xhttp.open("POST", "@ViewBag.BaseUrl/Dashbord/Order/RemoveVech", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.setRequestHeader('Accept-Encoding', 'br');
        xhttp.send(Req);
        tdElms.removeChild(FindId(tdElms.children, idVech));
    }

    function FindId(elms, idVech) {
        let tdElm;
        for (let i = 0; i < elms.length; i++) {
            if (elms[i].id == idVech) {
                tdElm = elms[i];
                break;
            }
        }
        return tdElm;
    }

    function AddVech(btnE) {
        let idOrder = btnE.parentElement.children[0].value;
        var xhttp = new XMLHttpRequest();
        let Req = "idOrder=" + idOrder;
        xhttp.onreadystatechange = function (e) {
            if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
                location.reload(true);
            }
        };
        xhttp.open("POST", "@ViewBag.BaseUrl/Dashbord/Order/AddVech", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.setRequestHeader('Accept-Encoding', 'br');
        xhttp.send(Req);
    }
</script>