
<body>
    <div class="admin Billing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabContente">
                        <h2>Create Order</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tabContente">
                        <form action="SavaOrder" method="post">
                            <input id="idOrder" type="text" name="idOrder" style="display:none;" value="@ViewBag.Order.Id" />
                            <div class="w1">
                                <label for="">
                                    Load ID
                                    <input type="text" name="idLoad" value="@ViewBag.Order.idOrder">
                                </label>
                                <label for="">
                                    Status
                                    <select name="status" id="">
                                        <option value="@ViewBag.Order.CurrentStatus">@ViewBag.Order.CurrentStatus</option>
                                        <option value="">NewLoad</option>
                                        <option value="">Picked up</option>
                                        <option value="">Delivered</option>
                                    </select>
                                </label>
                                <h3>Pickup Information</h3>
                                <label for="">
                                    Name
                                    <input type="text" value="@ViewBag.Order.NameP" placeholder="Name" name="nameP">
                                </label>
                                <label for="">
                                    Contact
                                    <input type="text" name="contactP" value="@ViewBag.Order.ContactNameP" placeholder="Contact name">
                                </label>
                                <label for="">
                                    Address
                                    <input type="text" name="addressP" value="@ViewBag.Order.AddresP" placeholder="Address" required>
                                </label>
                                <label for="">
                                    City
                                    <input type="text" name="cityP" value="@ViewBag.Order.CityP" placeholder="City" required>
                                </label>
                                <label for="">
                                    State
                                    <input type="text" name="stateP" value="@ViewBag.Order.StateP" pattern="[A-Z]{2}" placeholder="XX - State" required>
                                </label>
                                <label for="">
                                    Zip
                                    <input type="text" name="zipP" value="@ViewBag.Order.ZipP" pattern="[0-9]{5}" placeholder="XXXXX - Zip code" required>
                                </label>
                                <label for="">
                                    Phone
                                    <input type="tel" name="phoneP" placeholder="XXXXXXXXXX - Phone number" pattern="[0-9]{4,12}" value="@ViewBag.Order.PhoneP" required>
                                </label>
                                <label for="">
                                    Email
                                    <input type="text" name="emailP" type="email" value="@ViewBag.Order.EmailP" placeholder="Email" required>
                                </label>
                                <label for="">
                                    Scheduled pickup date
                                    <input type="text" name="scheduledPickupDateP" value="@ViewBag.Order.PickupExactly">
                                </label>
                            </div>
                            <div class="w1">
                                <label for="">
                                    Instructions
                                    <textarea type="text" name="instructions" style="height:92px;">@ViewBag.Order.Titl1DI</textarea>
                                </label>
                                <h3>Delivery Information</h3>
                                <label for="">
                                    Name
                                    <input type="text" name="nameD" value="@ViewBag.Order.NameD" placeholder="Name">
                                </label>
                                <label for="">
                                    Contact
                                    <input type="text" name="contactD" value="@ViewBag.Order.ContactNameD" placeholder="Contact name">
                                </label>
                                <label for="">
                                    Address
                                    <input type="text" name="addressD" value="@ViewBag.Order.AddresD" placeholder="Address" required>
                                </label>
                                <label for="">
                                    City
                                    <input type="text" name="cityD" type="text" value="@ViewBag.Order.CityD" placeholder="City" required>
                                </label>
                                <label for="">
                                    State
                                    <input type="text" name="stateD" pattern="[A-Z]{2}" type="text" value="@ViewBag.Order.StateD" placeholder="XX - State" required>
                                </label>
                                <label for="">
                                    Zip
                                    <input type="text" name="zipD" type="text" value="@ViewBag.Order.ZipD" pattern="[0-9]{5}" placeholder="XXXXX - Zip code" required>
                                </label>
                                <label for="">
                                    Phone
                                    <input name="phoneD" placeholder="XXXXXXXXXX - Phone number" type="tel" pattern="[0-9]{4,12}" value="@ViewBag.Order.PhoneD" required>
                                </label>
                                <label for="">
                                    Email
                                    <input name="emailD" type="email" value="@ViewBag.Order.EmailD" placeholder="Email" required>
                                </label>
                            </div>
                            <div class="w1">
                                <h3>Payment Information</h3>
                                <label for="">
                                    Payment method
                                    <select name="paymentMethod" required>
                                        <option value="@ViewBag.Order.TotalPaymentToCarrier">@ViewBag.Order.TotalPaymentToCarrier</option>
                                        <option value="COP">COP</option>
                                        <option value="COD">COD</option>
                                        <option value="1 days">1 days</option>
                                        <option value="2 days">2 days</option>
                                        <option value="5 days">5 days</option>
                                        <option value="10 days">10 days</option>
                                        <option value="15 days">15 days</option>
                                    </select>
                                </label>
                                <label for="">
                                    Price
                                    <input type="text" name="price" value="@ViewBag.Order.PriceListed" required>
                                </label>
                                <label for="">
                                    Broker fee
                                    <input type="text" name="brokerFee" value="@ViewBag.Order.BrokerFee">
                                </label>
                                <input class="btn1" type="submit" value="Save Order" />
                                <button class="btn2">Archive Order</button>
                                <button class="btn3">Delete Order</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12" style="padding-bottom: 20px">
                    <div class="title">
                        <h1>Vehicles</h1>
                        <button class="btn1" onclick="AddVech(this)">Add Vehicle</button>
                    </div>
                    <div class="table">
                        <div class="tr blue">
                            <div class="td">№</div>
                            <div class="td">VIN</div>
                            <div class="td">Year</div>
                            <div class="td">Make</div>
                            <div class="td">Model</div>
                            <div class="td">Type</div>
                            <div class="td">Color</div>
                            <div class="td">Lot number</div>
                            <div class="td">&nbsp;</div>
                            <div class="td">&nbsp;</div>
                            <div class="td">&nbsp;</div>
                            <div class="td">&nbsp;</div>
                        </div>
                        @if (ViewBag.Order.VehiclwInformations != null)
                        {
                            @for (int i = 0; i < ViewBag.Order.VehiclwInformations.Count; i++)
                            {
                                <form action="SavaVech" method="POST" class="tr" id="@ViewBag.Order.VehiclwInformations[i].Id">
                                    <div class="td">@i</div>
                                    <div class="td"><input type='text' name="VIN" value="@ViewBag.Order.VehiclwInformations[i].VIN" /></div>
                                    <div class="td"><input type='text' name="Year" value="@ViewBag.Order.VehiclwInformations[i].Year" /></div>
                                    <div class="td"><input type='text' name="Make" value="@ViewBag.Order.VehiclwInformations[i].Make" /></div>
                                    <div class="td"><input type='text' name="Model" value="@ViewBag.Order.VehiclwInformations[i].Model" /></div>
                                    <div class="td">
                                        <select name="Type">
                                            <option>@ViewBag.Order.VehiclwInformations[i].Type</option>
                                            <option>Sedan</option>
                                            <option>Suv</option>
                                            <option>Coupe</option>
                                            <option>PickUp</option>
                                            <option>Tricycle</option>
                                            <option>Sport bike</option>
                                            <option>Touring motorcycle</option>
                                            <option>Cruise motorcycle</option>
                                        </select>
                                    </div>
                                    <div class="td"><input type='text' name="Color" value="@ViewBag.Order.VehiclwInformations[i].Color" /></div>
                                    <div class="td"><input type='text' name="LotNumber" value="@ViewBag.Order.VehiclwInformations[i].Lot" /></div>
                                    <div class="td"><input type='text' class="delete" /></div>
                                    <div class="td"><input type='submit' value="Save" /></div>
                                    <input type="text" name="idVech" style="display:none;" value="@ViewBag.Order.VehiclwInformations[i].Id" />
                                    <input type="text" name="idOrder" style="display:none;" value="@ViewBag.Order.Id" />
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function AddVech(btnE) {
        let idOrder = document.getElementById('idOrder').value;
        var xhttp = new XMLHttpRequest();
        let Req = "idOrder=" + idOrder;
        xhttp.onreadystatechange = function (e) {
            if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
                location.reload(true);
            }
        };
        xhttp.open("POST", "@ViewBag.BaseUrl/Dashbord/Order/AddVech", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.setRequestHeader('Accept-Encoding', 'br');
        xhttp.send(Req);
    }
</script>