<body>
    <div class="admin Billing">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="title">
                        <h1>Information About the Order</h1>
                    </div>
                    <p><b>Load id:</b> <span>@ViewBag.Order.idOrder</span></p>
                    <p><b>Price:</b> <span>@ViewBag.Order.PriceListed</span></p>
                    <p><b>Status:</b> <span>@ViewBag.Order.CurrentStatus</span></p>
                    <table>
                        <tr class="blue">
                            <td>№</td>
                            <td>VIN</td>
                            <td>Year</td>
                            <td>Make</td>
                            <td>Model</td>
                            <td>Type</td>
                            <td>Color</td>
                            <td>Lot number</td>
                        </tr>
                        @if (ViewBag.Order.VehiclwInformations != null)
                        {
                            @for (int i = 0; i < ViewBag.Order.VehiclwInformations.Count; i++)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].VIN</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].Year</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].Make</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].Model</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].Type</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].Color</td>
                                    <td>@ViewBag.Order.VehiclwInformations[i].Lot</td>
                                </tr>
                            }
                        }
                    </table>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="text-r">
                                <h3>Origin</h3>
                                <p> @ViewBag.Order.AddresP, @ViewBag.Order.CityP, @ViewBag.Order.StateP, @ViewBag.Order.ZipP <br><b>Contact: </b>@ViewBag.Order.ContactNameP <br><b>Phone:</b> @ViewBag.Order.PhoneP <br><b>Pickup date: </b>@ViewBag.Order.PickupExactly</p>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="text-r">
                                <h3>Destination</h3>
                                <p>@ViewBag.Order.AddresD, @ViewBag.Order.CityD, @ViewBag.Order.StateD, @ViewBag.Order.ZipD <br><b>Contact:</b> @ViewBag.Order.ContactNameD<br><b>Phone:</b> @ViewBag.Order.PhoneD<br><b>Delivery date:</b> @ViewBag.Order.DeliveryEstimated</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-r">
                                <h3>Payment Information</h3>
                                <p>
                                    <b>Price:</b> @ViewBag.Order.PriceListed<br> <b>Payment Method:</b> @ViewBag.Order.TotalPaymentToCarrier<br> <b>On Delivery to Carrier: </b> @ViewBag.Order.OnDeliveryToCarrier
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-r">
                                <h3>Customer</h3>
                                <p>
                                    <b>Contact:</b> @ViewBag.Order.ContactC<br>
                                    <b>Phone:</b> @ViewBag.Order.PhoneC<br>
                                    <b>Fax:</b>  @ViewBag.Order.FaxC<br>
                                    <b>Iccmc:</b>  @ViewBag.Order.IccmcC
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-r">
                                <h3>Instructions</h3>
                                <p>@ViewBag.Order.Titl1DI</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-r">
                                <h3>BOL</h3>
                                @if (ViewBag.Order.VehiclwInformations != null)
                                {
                                    @for (int i = 0; i < ViewBag.Order.VehiclwInformations.Count; i++)
                                    {
                                        <a href="@ViewBag.BaseUrl/Photo/BOL/@ViewBag.Order.VehiclwInformations[i].Id">@ViewBag.Order.VehiclwInformations[i].Make @ViewBag.Order.VehiclwInformations[i].Model @ViewBag.Order.VehiclwInformations[i].Year</a><br>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-r">
                                <button class="btn1" onclick="history.back();">Back to Orders</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-bar-about">
                        <h3>Action history</h3>
                        @for (int i = 0; i < ViewBag.Historys.Count; i++)
                        {
                            <div class="one">
                                <p>@ViewBag.Historys[i].Action</p>
                                <p>Date Action: @ViewBag.Historys[i].DateAction</p>
                            </div>  
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>