<div class="body">
    <div style="display:flex;">
        <input class="btnCreateoOrder" type="button" value="Add Company" onclick="window.location.href='@Url.Action("CreateCompany", "Company")';" />
    </div>
    <nav>
        <input class="btnSt activeBtn" type="button" value="Companies" onclick="window.location.href='@Url.Action("Companies", "Company")';" />
        <input style="width:150px" class="btnSt" type="button" value="All Users" onclick="window.location.href='@Url.Action("Users", "Company")';" />
    </nav>
    <div class="contentBody">
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Registration
                    </th>
                    <th>
                        Type of company
                    </th>
                    <th>
                        🖱
                    </th>
                    <th>
                        Go to users
                    </th>
                    <th>
                        🖱
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < ViewBag.Companies.Count; i++)
                {
                <tr>
                    <td>
                        @ViewBag.Companies[i].Name
                    </td>
                    <td>
                        @ViewBag.Companies[i].DateRegistration
                    </td>
                    <td>
                        @ViewBag.Companies[i].Type
                    </td>
                    <td onclick="GoToCompanyDoc(@ViewBag.Companies[i].Id)">
                        🖺
                    </td>
                    <td onclick="window.location.href='Users?idCompanySelect=@ViewBag.Companies[i].Id'">
                        ⇥
                    </td>
                    <td style="cursor:pointer;" onclick="Remove(@ViewBag.Companies[i].Id)">
                        ✖
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>

    function GoToCompanyDoc(id) {
        document.location.href = "@ViewBag.BaseUrl/Company/Doc?id="+id;
    }

    function Remove(id) {
        document.location.href = "@ViewBag.BaseUrl/Company/Remove?id="+id;
    }
</script>

<style>
    * {
        margin: 0px;
    }

    .contentBody {
        width: 100%;
        height: 100px;
        border-top: solid;
        border-width: 1px;
        border-color: rgba(51, 51, 51, 0.3);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around
    }

    .body {
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
    }

    .btnCreateoOrder {
        color: white;
        background-color: darkgray;
        display: inline-block;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        border: 2px solid;
        border-radius: 7px;
        margin-bottom: 10px;
        margin-left: 14px;
    }

        .btnCreateoOrder:hover {
            transition: 0.3s;
            background-color: rgb(51, 51, 51);
        }

    .btnSt {
        margin-left: 5px;
        border: none;
        width: 120px;
        height: 40px;
        background-color: white;
        font-size: 20px;
        color: rgb(51, 51, 51);
        border-color: rgba(51, 51, 51, 1);
    }

    .activeBtn {
        border-radius: 1px;
        border-top: solid;
        border-right: solid;
        border-left: solid;
        border-width: 1.3px;
        position: relative;
        top: 2px;
        border-color: rgba(51, 51, 51, 0.3);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th {
        color: #878787;
        background-color: rgba(105, 105, 105, 0.15);
        font-size: 20px;
        border-width: 1px;
        border-bottom: 1px solid #878787;
    }

    td {
        color: #a6a6a6;
        font-size: 18px;
        text-align: center;
    }

    tbody tr:nth-child(odd) {
        background-color: #f9f9f9; /* фон нечетных строк */
    }

    tbody tr:nth-child(even) {
        background-color: rgba(105, 105, 105, 0.15); /* фон четных строк */
    }
</style>