<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="tabContent">
                        <h2>Info About the Driver</h2>
                        <form action="" method="post">
                            <label for="">
                                Full name
                                <input type="text" name="fullName" value="@ViewBag.Driver.FullName" required>
                            </label>
                            <label for="">
                                Email address
                                <input type="email" name="emailAddress" value="@ViewBag.Driver.EmailAddress" required>
                            </label>
                            <label for="">
                                Password
                                <input type="text" name="password" value="@ViewBag.Driver.Password" required>
                            </label>
                            <label for="">
                                Phone number
                                <input type="text" name="phoneNumbe" placeholder="XXXXXXXXXX" pattern="[0-9]{4,12}" value="@ViewBag.Driver.PhoneNumber" required>
                            </label>
                            <label for="">
                                Trailer capacity
                                <input type="text" name="trailerCapacity" value="@ViewBag.Driver.TrailerCapacity" required>
                            </label>
                            <label for="">
                                Driver's license number
                                <input type="text" name="driversLicenseNumber" value="@ViewBag.Driver.DriversLicenseNumber" required>
                            </label>
                            <input name="id" value="@ViewBag.Driver.Id" style="display:none" />
                            <input class="btn1" type="submit" value="Save Info" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>