<body>
    <div class="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>Drivers</h1>
                        <button class="btn1" onclick="window.location.href='@Url.Action("CreateDriver", "Driver")';">Add Driver</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tabs">
                        <div class="tab whiteborder" onclick="window.location.href='@Url.Action("Drivers", "Driver")';">Drivers</div>
                        <div class="tab" onclick="window.location.href='@Url.Action("Check", "Driver")';">Driver check</div>
                        <div class="tab" onclick="window.location.href='@Url.Action("AddReport", "Driver")';">Report driver</div>
                        <div class="tabContent">
                            @for (int i = 0; i < ViewBag.Drivers.Count; i++)
                            {
                                <div class="one-line">
                                    <div class="top-line">
                                        <div class="left">
                                            <div class="contact">
                                                <p><strong>@ViewBag.Drivers[i].FullName</strong></p>
                                                <p>Trailer capacity:  @ViewBag.Drivers[i].TrailerCapacity</p>
                                                <p>Last inspection: @ViewBag.Drivers[i].LastDateInspaction</p>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <a href="@ViewBag.BaseUrl/Driver/Drivers/Edit?id=@ViewBag.Drivers[i].Id" class="btn3">Edit</a>
                                            <input class="btn3" value="Delete" type="button" onclick="ShowAlert(@ViewBag.Drivers[i].Id)" />
                                        </div>
                                    </div>
                                    <div class="top-line">
                                        <div class="left">
                                            <div class="contact">
                                                <p>Email: <a href="@ViewBag.Drivers[i].EmailAddress">@ViewBag.Drivers[i].EmailAddress</a></p>
                                                <p>Phone: <a href="tel:@ViewBag.Drivers[i].PhoneNumber">@ViewBag.Drivers[i].PhoneNumber</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top-line">
                                        <div class="left">
                                            <div class="contact">
                                                <p>Registration:  @ViewBag.Drivers[i].DateRegistration</p>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <a class="btn3" href="~/Driver/InspactionTrucks?idDriver=@ViewBag.Drivers[i].Id&idTruck=0&idTrailer=0&date=0">Inspection</a>
                                            <input class="btn3" value="Remind Inspection" type="button" onclick="SendRemindInspection(@ViewBag.Drivers[i].Id, '@ViewBag.BaseUrl')" />
                                            <input class="btn3" value="Documents" type="button" onclick="window.location.href='Doc?id=@ViewBag.Drivers[i].Id'" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>